<!-- page header -->
	<div class="page-header vertical-align">
			
		<!-- Header Title -->
		<div class="col-xs-11">
			<h2>Session Note<small>- view/edit information for student</small></h2>
		</div>
		
	</div>
<!--End page header-->

<%= render 'form', session_note: @session_note, isNew: false%>

<!-- Page Footer -->
	<div class="row action-icon-row" style="margin-top: 40px;"></div>
<!-- End page footer-->
